{% extends "layout.html.twig" %}

{% block container %}




    <div class="container p-5 my-4 bg-white text-dark rounded">
        <h4>BIENVENUE SUR LE SITE DE </h4>
        <h1>CONSULTATION DE LIVRES</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat laborum libero magnam commodi facilis est ea voluptates cumque quod minus magni laudantium aliquam molestiae id, maiores ab expedita ipsum dignissimos?
            Excepturi voluptates sapiente, rerum officiis commodi nulla iste dolorem aliquam in voluptatum accusantium iusto, consequatur, distinctio repudiandae delectus blanditiis nostrum debitis. Consectetur debitis, sit non sapiente repellat praesentium minima commodi!
            Iure repellat architecto neque harum suscipit ipsam aliquid voluptatum asperiores, expedita omnis nisi assumenda temporibus provident, ad ea sit! Est perferendis quaerat accusamus hic unde distinctio modi, sed cupiditate consequuntur!</p>
    </div>


{% endblock %}